*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* parallax */

.parallax {
	/* Imagen elegida */
	background-image: url("img/fondoInicio.jpg");

    /* Definir un alto específico */
	height: 350px;

	/* Crear el efecto parallax al scrollear */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	/* box modeling */
	padding: 100px;
}

.fotoInicio{
    width: 400px;
    height: auto;
}

footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgba(135, 226, 244, 0.347);
    text-align: center;
}
.footRedes{
    grid-column: 1;
}
.imgRedes{
    width: 30px;
    height: auto;
}
.footCelu{
    grid-column: 2;
}
.descargaCelu{
    width: 200px;
    height: auto;
}

/*PREGUNTAS FRECUENTES*/
.preguntas{
    font-size: large;
    font-family: Georgia;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.respuestas{
    font-size: medium;
    font-family: Cambria;
    text-align: center;
    padding-bottom: 50px;
}

/*QUIENES SOMOS?*/
.descripcionQS{
    text-align: center;
    font-family: Georgia;
    font-size: large;
    line-height: 2em;
}

/*CONTACTOS*/
.cuestionario{
    background-color: aliceblue;
    text-align: center;
    align-content: center;
    padding: 20px;
}

.redes{
    background-color: aliceblue;
    padding-top: 40px;
    text-align: center;
    padding-bottom: 40px;
}


/*PRODUCTOS*/
.product{
    background-color: aliceblue;
    padding-top: 40px;
    text-align: center;
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.product prod1{
    grid-column: 1;
}
.product prod1:hover{
    background-image: url(./img/producto1b.jpeg);
}

.product prod2{
    grid-column: 2;
}
.product prod2:hover{
    background-image: url(img/producto2b.jpeg);
}

.product prod3{
    grid-column: 3;
}
.product prod3:hover{
    background-image: url(img/producto3b.jpeg);
}

.product prod4{
    grid-column: 4;
}
.product prod4:hover{
    background-image: url(img/producto4b.jpeg);
}