footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: $colorFooter;
    text-align: center;
    .footRedes{
        grid-column: 1;
        .bi {
            font-size: 25px;
            padding: 0.5rem;
            &:hover{
                color: white;
            }
        }
    }

    
    .footCelu{
        grid-column: 2;
        .descargaCelu{
            width: 200px;
            height: auto;
        }
    }
}

$redes: (
    facebook: blue,
    instagram: rgb(172, 3, 155),
    twitter: rgb(0, 191, 255),
    whatsapp:green
);

@each $redsocial, $colordered in $redes {
    .bi-#{$redsocial}{
        background-color: $colordered;
        border-radius: 1rem;
    }
}
