/* parallax */

.parallax {
	/* Imagen elegida */
	background-image: url("../img/fondoInicio.jpg");

    /* Definir un alto específico */
	height: 350px;

	/* Crear el efecto parallax al scrollear */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	/* box modeling */
	padding: 100px;
}
