.preguntas{
    font-size: large;
    font-family: $font;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.respuestas{
    font-size: medium;
    font-family: $font;
    text-align: center;
    padding-bottom: 50px;
}