.product{
    padding-top: 40px;
    text-align: center;
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.prod1{
    transform: 1s;
}
.prod1:hover{
    transform: scale(1.1) translateY(-40px);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.prod2{
    transform: 1s;
}
.prod2:hover{
    transform: scale(1.1) translateY(-40px);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.prod3{
    transform: 1s;
}
.prod3:hover{
    transform: scale(1.1) translateY(-40px);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.prod4{
    transform: 1s;
}
.prod4:hover{
    transform: scale(1.1) translateY(-40px);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.prod5{
    transform: 1s;
}
.prod5:hover{
    transform: scale(1.1) translateY(-40px);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.prod6{
    transform: 1s;
}
.prod6:hover{
    transform: scale(1.1) translateY(-40px);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}
